.Rproj.user
.Rhistory
.RData
inst/doc
aaa\.Rmd*
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Output files from R CMD build
/*.tar.gz
# vim files
.*.un~
.*.swp
# compiled object files
*.o
*.so
.Rdata
.Ruserdata
*-Ex.R
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
allcontributors.Rcheck/
allcontributors*.tar.gz
allcontributors*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
Rplots.pdf
